$theme-font: "Verdana", Times, serif;

body {
  font-family: $theme-font;
  color: black;
  background-color: lightgrey;
  font-size: 62.5%;
  line-height: 1.4;
}

.Movie {
  float: left;
  padding: 10px;
  margin: 10px;
  background-color: white;
  min-height: 150px;
  & p {
    max-width: 150px;
  }
}
