$theme-font: "Verdana", Times, serif;

body {
  font-family: $theme-font;
  color: black;
  background-color: lightgrey;
  font-size: 62.5%;
  line-height: 1.4;
}

label {
  margin: 5px;
}

.Movie {
  float: left;
  padding: 10px;
  margin: 10px;
  background-color: white;
  min-height: 420px;
  & p {
    background-color: lightgrey;
    width: 200px;
    height: 40px;
  }
  & img {
    width: 200px;
  }
}
